body {
    background-color: black;
}
.password {
    color: white;
}
.username {
    color: white;
}
.inputs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

